{% extends 'layout.html' %}


{% block title %}电流监控{% endblock %}

{% block js%}
    <script type="text/javascript">
        //初始化echarts图表
        var myChart = echarts.init(document.getElementById('chartmain'));

        //显示标题，图例和空的坐标轴
        myChart.setOption({
            title:{
                text:'实时电流监测数据'
            },
            xAxis:{
                type:"category",
                boundaryGap:false,
                //日期时间数据从后台获取
                data:[]
            },
            yAxis:{
                boundaryGap:[0,'100%'],
                type:'value',
                axisLabel:{
                    formatter:'{value}(A)'
                }
            },
            series:[{
                name:'成交',
                type:'line',
                smooth:true, //数据光滑过度
                symbol:'none', //下一个数据点
                stack:'a',
                areaStyle:{
                    normal:{
                        color:'white'
                    }
                },
                //电流数据从后台获取
                data:[]
            }]
        });

        myChart.showLoading();  //数据加载完成前先显示一段简单的loading动画

        var dianliu_y = [];//存放小时时间
        var dianliu_mon = []; //存放小时时间
        var dianliu_d = []; //存放小时时间
        var dianliu_h = []; //存放小时时间
        var dianliu_m = []; //存放分钟时间
        var dianliu_s = [];//存放秒数时间
        var dianliu_time = [];
        var dianliu_data = []; //存放电流数据

        //异步从后台获取数据
        function ajax_post(shift) {
            $.ajax({
                url: "/dianliu/",
                type:'post',
                data:{},
                dataType:'json',
                success:function (data) {
                    if(data){
                        //电流值
                        dianliu_data.push(data[0]['dianliu_value']);

                        //时间值
                        dianliu_y.push(data[1]['dianliu_y']);
                        dianliu_mon.push(data[2]['dianliu_mon']);
                        dianliu_d.push(data[3]['dianliu_d']);
                        dianliu_h.push(data[4]['dianliu_h']);
                        dianliu_m.push(data[5]['dianliu_m']);
                        dianliu_s.push(data[6]['dianliu_s']);

                        //时间设置
                        var now = [dianliu_h[dianliu_h.length-1]+":"+dianliu_m[dianliu_m.length-1]+":"+dianliu_s[dianliu_s.length-1]];
                        dianliu_time.push(now);

                        //移除数组中的第一个元素
                        if(shift){
                             dianliu_y.shift();
                             dianliu_mon.shift();
                             dianliu_d.shift();
                             dianliu_h.shift();
                             dianliu_m.shift();
                             dianliu_s.shift();
                             dianliu_time.shift();
                             dianliu_data.shift();
                        }
                        myChart.hideLoading();  //隐藏动画
                        myChart.setOption({
                            title:{
                                text:'实时电流监测数据'
                            },
                            xAxis:{
                                type:"category",
                                boundaryGap:false,
                                //日期时间
                                data:dianliu_time
                            },
                            yAxis:{
                                boundaryGap:[0,'100%'],
                                type:'value',
                                axisLabel:{
                                    formatter:'{value}(A)'
                                }
                            },
                            series:[{
                                name:'成交',
                                type:'line',
                                smooth:true, //数据光滑过度
                                symbol:'none', //下一个数据点
                                stack:'a',
                                areaStyle:{
                                    normal:{
                                        color:'white'
                                    }
                                },
                                //电流数据
                                data:dianliu_data
                            }]
                        });
                    }
                }
            });
        };

    for(var i=0;i<10;i++){
        ajax_post()
    };

    setInterval(function () {
        ajax_post(true)
    },1000);
    </script>
{% endblock %}